body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f6; /* Tailwind gray-100 for overall page bg */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom spinner color */
.loader {
  border-top-color: #008937; /* ayala-green-DEFAULT */
  animation: spin 1s linear infinite;
  /* Optional: adjust other loader border colors for a different look */
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: #008937; /* or transparent */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Custom prose overrides for content parsed from HTML */
.prose {
  --tw-prose-body: theme(colors.text-secondary);
  --tw-prose-headings: theme(colors.text-primary);
  --tw-prose-lead: theme(colors.text-secondary);
  --tw-prose-links: theme(colors.ayala-green.DEFAULT);
  --tw-prose-bold: theme(colors.text-primary);
  /* Add more overrides if needed, e.g., for lists, blockquotes */
}

.prose code::before, .prose code::after {
  content: none; /* Disables backticks around inline code in prose if desired */
}
